<mat-toolbar class='navigation' color="primary">
    <a mat-button routerLink='/home' routerLinkActive='active'><i class="fa fa-home fa-lg"></i> أى حاجة</a>
    <a mat-button routerLink='/mizan' routerLinkActive='active'><i class="fa fa-balance-scale  fa-lg"></i> الوزن</a>
    <a mat-button routerLink='/ezn' routerLinkActive='active'><i class="fa fa-file-text fa-lg"></i> عمل أذن</a>
    <a mat-button routerLink="/products" routerLinkActive="active"><i class="fa fa-product-hunt fa-lg"></i> الأصناف</a>
    <a mat-button routerLink='/stock' routerLinkActive='active'><i class="fa fa-archive fa-lg"></i>
        الرصيد</a>
    <a mat-button routerLink='/ywmya' routerLinkActive='active'><i class="fa fa-calendar fa-lg"></i>
        اليومية</a>
    <a mat-button routerLink='/clients' routerLinkActive='active'><i class="fa fa-calendar fa-lg"></i>
        العملاء</a>
    <span class='flex-spacer'></span>
    <a *ngIf="!username" mat-button (click)="openLoginForm()"><i class="fa fa-sign-in fa-lg"></i> تسجيل الدخول</a>
    <a *ngIf="username" mat-button ><i class="fa fa-user fa-lg"></i> {{username}}</a>
    <a *ngIf="username" mat-button (click)="logOut()"><i class="fa fa-sign-out fa-lg"></i> تسجيل الخروج</a>
</mat-toolbar>