
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: lightgray;
    color: black;
    font-weight: 600;
}

a,
a:visited,
a:hover {
    color: #333;
    text-decoration: none;
}

.spacer {
    flex: 1;
}