.navigation {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--divider-color);
    color: black;
    font-weight: 600;
}

a,
a:visited,
a:hover {
    color: #333;
    text-decoration: none;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 500px) {
    .navigation {
        flex-direction: column;
        height: auto;
    }
}